<div class="container-fluid p-0">
  <div>
    <div class="landing container-bg">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <div class="row logo-row text-center">
            <div class="col text-center"><span style="font-size:3rem; color:#fff">Adtid</span></div>
          </div>
          <div class="row logo-row text-center">
            <div class="col text-center">
              <span style="font-size:1.5rem; color:#fff">สอบกับ แอดติด แอดยังไงก็ติด</span><br/>
              <span style="color:#fff">แอดติด สนามสอบออนไลน์ เสมือนจริงแห่งเดียวในประเทศไทย สอบ วิเคราะห์ แนะนำ ครบจบในที่เดียว</span>
            </div>
          </div>
          <div class="row macbook-bg  d-none d-sm-block m-0">
          </div>
        </div>
      </div>
    </div>
    <div class="row user-mgmt-row mt-2 mt-sm-3 section-wrapper">
      <div class="col-10 offset-1 col-sm-4 offset-sm-2 col-lg-3 offset-lg-3">
        <button type="button" class="btn btn-lg register-btn">สมัครสอบ ฟรี</button>
      </div>
      <div class="col-10 offset-1 col-sm-4 offset-sm-0 col-lg-3 mt-2 mt-sm-0">
        <button type="button" class="btn btn-lg login-btn">เข้าสู่ระบบ</button>
      </div>
    </div>
  </div>


  <div class="sponser-section">
    <div class="section-wrapper">
      <div class="row m-0">
        <!-- slide -->
        <div class="col-12 col-md-6 offset-0 p-0 sponser-slide-col">
          <div class="sponser-slide-ctn">
            <div id="sponserSlide" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#sponserSlide" data-slide-to="0" class="active"></li>
                <li data-target="#sponserSlide" data-slide-to="1"></li>
                <li data-target="#sponserSlide" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="temp-slide-item"></div>
                </div>
                <div class="carousel-item">
                  <div class="temp-slide-item"></div>
                </div>
                <div class="carousel-item">
                  <div class="temp-slide-item"></div>
                  <!-- <img class="d-block w-100" src="../../assets/img/scb-slide.png"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 py-4">
          <div class="row">
            <div class="col">
              <h3>ทุกคําถาม ทุกความกังวลใจ<br/> ทุกความเจ็บปวด เรื่องแอดมิชชั่น
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              ลองมาแล้วทุกอย่าง ทุกแอพฯ ก็ยังไม่มั่นใจ ต้องมาลองสอบออนไลน์ เสมือนจริง และยื่น คะแนนกับแอดติด
              <label class="color-theme m-0">โปรแกรมเดียวเปลี่ยนชีวิต แอดติด แอดยังไงก็ติด</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label class="color-theme m-0">ทดลองกับแอดติด ก่อนแอดจริง</label> ระบบอัจฉริยะ จะช่วยประเมินโอกาสแอดติด ลองได้ถึง
              4 รอบ
            </div>
          </div>
          <div class="row mt-3">
            <div class="col -4 offset-4 offset-md-0">
              <button type="button" class="btn theme-outline-btn px-4">สมัครสอบ ฟรี</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="open-course text-white">
    <div class="section-wrapper">
      <div class="row m-0">
        <div class="col text-center">
          <h4>วิชาที่เปิดสอบ</h4>
          <div class="border-bt col-centered"></div>
        </div>
      </div>
      <div class="row m-0 open-course-detail-row">
        <div class="col text-center">
          สอบฟรี ทุกวิชา สนับสนุนโดย PEPTINE
        </div>
        <div class="more-detail">
          เพิ่มเติม >
        </div>
      </div>
      <div id="openCourseSlide" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators tutor-indicators">
          <li data-target="#openCourseSlide" data-slide-to="0" class="active"></li>
          <li data-target="#openCourseSlide" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row tutor-row">
              <div class="col">t1</div>
              <div class="col">t2</div>
              <div class="col d-none d-sm-block">t3</div>
              <div class="col d-none d-md-block">t4</div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row tutor-row">
              <div class="col">t1</div>
              <div class="col">t2</div>
              <div class="col">t3</div>
              <div class="col">t4</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="schedule-section">
    <div class="section-wrapper">
      <div class="row m-0">
        <div class="col text-center">
          <h4>ตารางสอบ รอบ ก.ค. 61</h4>
        </div>
      </div>
      <div class="row">
        <div class="col text-center color-theme ">
          สอบออนไลน์ ที่ไหนก็สอบได้ สมัครเลย ฟรี
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 ">
          <div class="schedule-tb">
            <div class="tb-header theme-background text-white">วันเสาร์ 30 มิ.ย. 61 </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
          </div>
          <div class="schedule-tb">
            <div class="tb-header theme-background text-white">วันเสาร์ 30 มิ.ย. 61 </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 ">
          <div class="schedule-tb">
            <div class="tb-header theme-background text-white">วันเสาร์ 30 มิ.ย. 61 </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
          </div>
          <div class="schedule-tb">
            <div class="tb-header theme-background text-white">วันเสาร์ 30 มิ.ย. 61 </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
            <div class="tb-body">
              <span class="small-text-size">O-NET คณิตศาสตร์</span><br/>
              <span class="super-small-text-size">08.30 - 10.30 น</span>
              <span class="tb-botton">สมัครสอบ</span>
            </div>
          </div>
          <div class="btn schedule-btn theme-outline-btn d-none d-sm-block">กติกาและเงื่อนไข</div>
        </div>
      </div>
      <div class="row d-block d-sm-none">
        <div class="col-7 offset-3 offset-sm-0 col-sm-5 col-md-4 col-lg-3 col-centered">
          <button type="button" class="btn schedule-btn theme-outline-btn">กติกาและเงื่อนไข</button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-7 offset-3 offset-sm-0 col-sm-5 col-md-4 col-lg-3 col-centered">
          <button type="button" class="btn theme-color-button">สมัครสอบ ฟรี</button>
        </div>
      </div>
    </div>
  </div>

  <div class="reason-section">
    <div class="section-wrapper">
      <div class="row m-0">
        <div class="col text-center">
          <h4>เหตุผลที่ ต้องลอง สนามสอบ แอดติด 62</h4>
          <div class="border-bt col-centered"></div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-4 reason-item" *ngFor="let reason of testArray">
          <div class="reason-item-row">
            <img src="../../assets/img/clock-logo.png" class="reason-item-icon">
          </div>
          <div class="reason-item-row">
            <div class="col p-0 text-center">
              {{reason.header}} <br/>
              <span class="small-text-size">{{reason.body}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reward-section">
    <div class="section-wrapper">
      <div class="row m-0">
        <div class="col text-center">
          <h4>สอบทุกรอบมีรางวัล</h4>
          <div class="border-bt col-centered"></div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center color-theme ">
          สำหรับน้องๆ ที่สอบได้ TOP 3 ในแต่ละรายวิชา
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4 mt-3" *ngFor="let reward of rewardList; let i = index">
          <div class="row">
            <img class="medal-pic" src="../../assets/img/medao.png">
          </div>
          <div class="row">
            <div class="col-12 offset-0 col-md-10 offset-md-1 text-center">
              <span class="color-theme">รางวัลที่ {{i + 1}}</span><br/>
              <span class="small-text-size">{{reward.content}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-7 col-sm-5 col-md-4 col-lg-3 col-centered">
          <span class="oi oi-star custom-button-icon left-icon color-theme"></span>
          <button type="button" class="btn theme-color-button">ประกาศผล TOP 10</button>
          <span class="oi oi-star custom-button-icon right-icon color-theme"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="target-section text-white">
    <div class="section-wrapper">
      <div class="row">
        <div class="col-6">
          <h3>ตั้งเป้าหมายคณะในฝัน แล้วไปให้ถึง</h3>
          <div class="border-bt"></div>
          <div class="mt-4 ">
            ค้นหาคณะที่ใช่ ประเมิณและเพิ่มโอกาสแอดติด ด้วยข้อมูลคณะกว่า 133 มหาวิทยาลัย และกว่า 4,000 สาขา <br/>
          </div>
          <div class="pt-2 small-text-size">
            อยากสอบติดคณะนี้ แต่เริ่มอ่านหนังสือไม่ถูก ไม่รู้ต้องทำคะแนนให้ได้เท่าไร? ทำยังไงให้เข้าได้ชัวร์ อยากเป็นตนที่ติด หรือ คนที่ตก
          </div>
          <div class="pt-3">
            <button type="button" class="btn color-theme">เริ่มตั้งเป้าหมาย</button>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
  <div class="target-detail-section">
    <div class="section-wrapper">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 target-detail-item">
          <div class="theme-background text-white fitst-target-item">
            <h5>ตั้งเป้าหมายในฝันช่วยอะไรบ้าง</h5>
            <div class="small-text-size">ดูทั้งหมด ></div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 target-detail-item" *ngFor="let detail of targetDetailList">
          <div class="">
            <div>{{detail.header}}</div>
            <div class="small-text-size target-detail-item-border">
              {{detail.body}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-section text-white">
    <div class="section-wrapper">
      <div class="row m-0">
        <div class="col text-center">
          <h4>ข่าว / ประกาศ</h4>
          <div class="border-bt col-centered"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          ดูทั้งหมด >
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 col-sm-6 news-item" *ngFor="let news of newsList">
          <div class="row m-0">
            <div class="col-6 news-pic">pic</div>
            <div class="col-6 news-desc">
              <span class="small-text-size news-date">25 พ.ย. 61</span><br/>
              <span class="text-black news-header">หัวข้อข่าวยาวไปยาวไปยาวไป ยาวไปยาวไป 2 บรรทัดพอ..</span><br/>
              <span class="small-text-size news-type">ช่าว / การศึกษา</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>